.photo-grid {
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
    justify-content: center;
}
@media screen and (max-width: 900px) {
  .photo-grid {
  padding: 0 24px;
  }
}
@media screen and (max-width: 650px) {
  .photo-grid {
    padding: 0 24px;
    gap: 12px;
  }
}
