.footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 48px 24px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 88px 24px 24px;
  }
}
@media screen and (max-width: 650px) {
  .footer {
    box-sizing: content-box;
    min-height: 310px;
    padding-bottom: 24px;
    padding-left: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}
